@mixin zoomIn($time) {

    animation: zoomIn $time;

    @keyframes zoomIn {
        from{
            transform: scale3d(0,0,0);
        }
    }
}

@mixin zoomOut($time) {

    transform: scale3d(1,1,1);
    animation: zoomOut $time;

    @keyframes zoomOut {
        to{
            transform: scale3d(0,0,0);
        }
    }
}

.zoomIn,.zoom-in,.zoomin    { @include zoomIn(2s)  }
.zoomOut,.zoom-out,.zoomout { @include zoomOut(2s) }